<div class="bg-gray-200 rounded-lg shadow-2xl">
    <div>
        Profile Pic
    </div>
    <div>
        <%= link_to user.user_name, user %>
    </div>
    <div>
        <%= user.likes.count %> Likes
    </div>
</div>