<div class="bg-gray-200 rounded-lg shadow-2xl flex p-2">

        <% if user.image.attached? %>
             <%= image_tag user.image.variant(:avatar), class: "rounded-lg m-2" %>
        <% end %>
    <div class="self-center">
        <div>
            <%= link_to user.user_name, user %>
        </div>
        <div>
            <%= user.likes.count %> Likes
        </div>
     </div>
</div>