
<%= render "application/header", search: true %>



<div class="grid grid-cols-3 grid-flow-row gap-4 bg-gray-400 rounded-lg mx-auto p-5">
<%= render @users %>
</div>

<div class="mx-auto">
<%= paginate @users %>
</div>


<%= render "application/footer" %>
