<%= render "application/header" %>


<h2><%=current_user.user_name%>'s Bookings</h2>
<div class="grid grid-cols-3 grid-flow-row gap-4 bg-gray-400 rounded-lg mx-auto p-5"">
  <%= render @bookings%>
</div>

<%= render "application/footer" %>