    <div>
        <ul>
            <li><b>Support</b></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li><b>About</b></li>
            <li><%= link_to "Home", "/pages/index" %></li>
            <li><%= link_to "About", "/pages/about" %></li>
            <li></li>
        </ul>
        <ul>
            <li><b>Community</b></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul>
            <li><b>Providing/Requests</b></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

<footer>
    <div>
        Terms
    </div>
    <div>
        Privacy
    </div>
    <div>
        Copywrong 2024
    </div>
    <div>
        Twitter
    </div>
    <div>
        Instagram
    </div>
    <div>
        CAD $
    </div>
</footer>