<header class="flex justify-between">
    <h1>AirDnD</h1> 
    <div>
        <div class="flex">
            <div class="mx-2">
                <%= link_to "Providers", "/users/" %>
            </div>
            <div class="mx-2">
                <%= link_to "Service Offers", "/service_offers/" %>
            </div>
        </div>
        <% if local_assigns[:search] %>
            <div class="mx-2">
                Search Bar
            </div>
        <% end %>
    </div>
    <div>
        <div class="mx-2">
            Account
        </div>
        <div class="mx-2">
            Cart
        </div>
    </div> 
</header>
