<header>
    <h1>Title</h1> 
    <div>
        <div>
            <div>
                <%= link_to "Providers", "/users/" %>
            </div>
            <div>
                <%= link_to "Service Offers", "/service_offers/" %>
            </div>
        </div>
        <div>
            Search Bar
        </div>
    </div>
    <div>
        <div>
            Account/SignIn/Logout
        </div>
        <div>
            Cart
        </div>
    </div> 
</header>