<header>
    <h1>Title</h1> 
    <div>
        <div>
            <div>
                <%= link_to "Providers", "/users/" %>
            </div>
            <div>
                <%= link_to "Service Offers", "/service_offers/" %>
            </div>
        </div>
        <% if local_assigns[:search] %>
            <div>
                Search Bar
            </div>
        <% end %>
    </div>
    <div>
        <div>
            <div>
                Account
            </div>
            <div>
                SignIn/Logout
            </div>
        </div>
        <div>
            Cart
        </div>
    </div> 
</header>