<div>
    <div>
        <%= service_offer.user.user_name%>'s Profile Pic
    </div>
    <div>
        <%= link_to service_offer.service_offer_name, service_offer %>
    </div>
    <div>
        <%= service_offer.service_type.service_type_name%>
    </div>
</div>