
<%= render "application/header" %>

<h1>ServiceOffers#index</h1>
<p>Find me in app/views/service_offers/index.html.erb</p>



<%= render @service_offers, full: true %>


<%= render "application/footer" %>
